[submodule "bril"]
	path = bril
	url = git@github.com:neel-patel-1/bril.git
[submodule "turnt"]
	path = turnt
	url = https://github.com/cucapra/turnt.git
[submodule "lesson7/llvm-pass-skeleton"]
	path = lesson7/llvm-pass-skeleton
	url = https://github.com/sampsyo/llvm-pass-skeleton.git
[submodule "lesson8/benchmarks/PolyBenchC-4.2.1"]
	path = lesson8/benchmarks/PolyBenchC-4.2.1
	url = https://github.com/MatthiasJReisinger/PolyBenchC-4.2.1
